nohup.out
Train_pair/paired_sentences_dev.csv
Train_pair/paired_sentences_train.csv

.ipynb_checkpoints/BERT_MLP-checkpoint.ipynb
.ipynb_checkpoints/GeneratePair-checkpoint.ipynb

data/BERT_encoding.zip
data/BERT_encoding/
data/paired_sentences.csv
best_weights_tough_head.hdf5

.ipynb_checkpoints/
data/BERT_encoding.zip
data/BERT_encoding/


